body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #56ab2f, #a8e063);
}

header {
  font-size: 50px;
  font-weight: 800;
  color: rgb(19, 32, 40);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-decoration: underline;
  border-bottom: 4px solid red;
  border-left: 4px solid red;
}

.def {
  text-decoration: underline;
  text-indent: 25px;
  color: rgb(24, 40, 83);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

p {
  font-weight: bold;
  color: rgb(9, 9, 8);
  font-size: 25px;
  text-indent: 25px;
  list-style: circle;
}
.title {
  text-decoration: underline;
  text-indent: 25px;
  color: rgb(24, 40, 83);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

ul li {
  color: rgb(36, 10, 36);
  font-weight: bold;
  /* color: rgb(9, 9, 8); */
  font-size: 25px;
  text-indent: 30px;
  list-style-type: decimal;
}

li {
  font-weight: bold;
  color: rgb(9, 9, 8);
  font-size: 25px;
  text-indent: 30px;
  list-style-type: decimal;
}

.div2 {
  height: 13rem;
  width: 11rem;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  text-align: center;
}

.div1 {
  height: 7rem;
  width: 7rem;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  justify-items: center;
  margin-right: 15px;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
 text-align: center;
}

button {
  height: 2rem;
  width: 4rem;
  position: relative;
  top: 48px;
  left: 28px;
  background: none;
  border: 3px solid #fff;
  color: #fff;
}

#sports {
  cursor: pointer;
}
